body {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0 20px 0;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    padding: 0px;
    text-align: left;
    background: #0052a1;
    color: white;
    font-size: 20px;
    font-family: Verdana;
    height: 120px;
}

.axis line{
    visibility:hidden;
  }


.axis .domain {
display: none;
}

.axis {
    font: 12.5px sans-serif;
  }

.yUnits {
  font: 12.5px sans-serif;
}

.caption {
  font: 12px sans-serif;
}

#titulo {
    text-align: center;
    margin: 150 0 75;
    font-family: 'Inter', sans-serif;
}

.info_texto_chile{
    background: none;
    color: rgb(29, 20, 20);
    margin: 2rem;
    padding: 1rem ;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);

}





.mas_info{
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #727272;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#intro{
    font-size: 6mm;
    display: block;
    
}
  
footer {
      display: block;
      height: 140px;
      background: #0052a1;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: 'Inter', sans-serif;
  }

.info {
      font-family: 'Inter', sans-serif;
}

#mapas {
      
      text-align: center;
      background: #e3f2ff;
      font-size: 20px;
}

.map {
    text-align: center

}

.svgMap {
    text-align: center;
}

#info {
    text-align: center;
    color: black;
    
}

.recuadro {
    position: relative;
    display: block;
    width: 300px;
    min-height: 150px;
    margin-top: 50px;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

#kk {
    display: block;
    border:#0052a1;
    border-width: 0 10px;
    border-radius: 0;
    background: #0052a1;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: -60px auto 15px;
    padding: 15px;
   }






      
      
      