body {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0 20px 0;
}/*hides tick marks on bottom xaxis */

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    padding: 0px;
    text-align: left;
    background: #0052a1;
    color: white;
    font-size: 20px;
    font-family: Verdana;
    height: 120px;
}

.axis line{
    visibility:hidden;
  }

/* hides bottom xaxis line*/
.axis .domain {
display: none;
}

.axis {
    font: 12.5px sans-serif;
  }

.yUnits {
  font: 12.5px sans-serif;
}

.caption {
  font: 12px sans-serif;
}

#titulo {
    text-align: center;
    margin: 150 0 75;
    font-family: 'Inter', sans-serif;
}

.info_texto_chile{
    background: none;
    color: rgb(29, 20, 20);
    margin: 2rem;
    padding: 1rem ;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);

}



.bubbleChart{
    min-width: 100px;
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
}



.mas_info{
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #727272;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#intro{
    font-size: 6mm;
    display: block;
    
}
  
footer {
      display: block;
      height: 140px;
      background: #0052a1;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
  }

.info {
      font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

#mapas {
      
      text-align: center;
      background: #e3f2ff;
      font-size: 20px;
}

.map {
    text-align: center

}

.svgMap {
    text-align: center;
}

#info {
    text-align: center;
    color: black;
    
}

#recuadro{
    text-align: center;
    background: white;
    justify-content: center;
    float: center;
    align-items: center;
    

}





      
      
      